.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b38f93;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: calc(0.1rem + 1.5vw);
    max-width: 100vw;

    .profileInfo {
        background-color: #5c494b;
        padding: calc(1.75rem + 1vw);
        border-radius: 0.5rem;
        color: #2b1d1f;
        font-weight: bold;
        width: calc(50% + 35vw);

    }

    .profileDivider {
        display: flex;
        justify-content: space-evenly;

    }
}

.profileInfoLeft {
    /* max-width: 50%; */
    flex-basis: 0;
    flex-grow: 1;
    /* visibility: hidden; */
}


.profileInfoRight {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    /* max-width: 50%; */
    visibility: hidden;
    margin-left: calc(1rem + 5vw);

    .info {
        display: flex;
        justify-content: space-evenly;

        /* margin-left: 4rem; */
        &.mobile {
            padding: 0;
            margin: 0;
            padding-right: 5px;
        }
    }

}


.profileInfo .profileOtherPlatform {
    padding-right: 5rem;
    padding-left: 5rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;

    &.mobile {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.profileInfoLeft .profileInfoLeft_1 {
    visibility: hidden;
}

.profileInfoLeft .profileInfoLeft_2 {
    margin-top: 3rem;
    visibility: hidden;
}

/* TODO: create entry animation */
.animationTrigger {
    /* visibility: hidden; */
    animation: animateElement 1s 0.5s 1 forwards ease-in;

}

.animationTriggerRight {
    visibility: hidden;
    animation: animateElementRight 1s 0.5s 1 forwards ease-in;
}


@keyframes animateElement {
    from {
        transform: translate(-50%, 0);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}


@keyframes animateElementRight {
    from {
        transform: translate(100%, 0);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}