.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b38f93;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: calc(0.1rem + 1.5vw);
    max-width: 100vw;

    .profileInfo {
        background-color: #5c494b;
        padding: calc(1.75rem + 1vw);
        border-radius: 0.5rem;
        color: #2b1d1f;
        font-weight: bold;
        width: calc(50% + 35vw);

    }

    .profileDivider {
        display: flex;
        justify-content: space-evenly;

    }
}

.profileInfoLeft {
   
    flex-basis: 0;
    flex-grow: 1;
    
    margin-right: calc(0.25rem + 2.5vw);
}


.profileInfoRight {
    flex-basis: 0;
    flex-grow: 1;
    visibility: hidden;
    margin-left: calc(0.25rem + 2.5vw);
    margin-top: calc(0.5rem + 2.5vh);

    .rightContainer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .iconContainer  {
            flex-basis: 1;
            flex-grow: 1;
            max-width: calc(20% + 0.5vw);

        }

        .info {
            flex-basis: 1;
            flex-grow: 1;
            text-align: left;
            margin-left: 0.5rem;
        }        

    }
    .rightContainer:nth-child(2) {
        margin-top: calc(0.75rem + 1vh);
        margin-bottom: calc(0.75rem + 1vh);
    }
}


.profileInfo .profileOtherPlatform {
    padding-right: calc(2.5rem + 0.5vw);
    padding-left: calc(2.5rem + 0.5vw);
    width: 100%;
    text-align: center;
    margin-top: calc(1rem + 0.5vh);
}

.profileInfoLeft .profileInfoLeft_1 {
    visibility: hidden;
}

.profileInfoLeft .profileInfoLeft_2 {
    margin-top: calc(2.5rem + 0.5vw);
    visibility: hidden;
}


.animationTrigger {
    animation: animateElement 1s 0.5s 1 forwards ease-in;

}

.animationTriggerRight {
    visibility: hidden;
    animation: animateElementRight 1s 0.5s 1 forwards ease-in;
}


@keyframes animateElement {
    from {
        transform: translate(-25%, 0);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}


@keyframes animateElementRight {
    from {
        transform: translate(25%, 0);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}