.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b38f93;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .profileInfo {
        background-color: #5c494b;
        padding: 1.5rem;
        width: 75%;
        border-radius: 0.5rem;
        margin-bottom: 10px;
        margin-top: 10px;
        color: #2b1d1f;
        font-weight: bold;

        /* add mobile styling */
        &.mobile {
            width: 90%;
        }
    }

    .profileDivider {
        display: flex;
        justify-content: space-between;
    }
}

.profileInfoLeft {
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    &.mobile {
        font-size: 10px;
        padding: 0;
    }
    
}

.profileInfoRight {
    padding-right: 3rem;
    padding-top: 1rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 1.75rem;

    /* add mobile styling */
    
    
    .info{
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
        margin-left: 4rem;
        &.mobile {
            font-size: 10px;
            padding: 0;
            margin: 0;
            padding-right: 5px;
        }
    }

}


.profileInfo .profileOtherPlatform {
    padding-right: 5rem;
    padding-left: 5rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;

    &.mobile {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 20px;
    }
}

.profileInfoLeft .profileInfoLeft_2 {
    margin-top: 3rem;
}

/* TODO: create entry animation */
.animationTrigger {
    visibility: hidden;
    animation: animateElement 1s 0.5s 1 forwards ease-in;
    
    &.right {
        /* animation: animateElementRight 0.5s 0.25s 1 forwards ease-in; */
        animation: animateElementRight 1s 0.5s 1 forwards ease-in;
    }
}


@keyframes animateElement{
    from{  
        transform: translate(-50%, 0);
        opacity: 0;
        visibility: hidden; 
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}


@keyframes animateElementRight{
    from{  
        transform: translate(100%, 0);
        opacity: 0;
        visibility: hidden; 
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

