.imageContainer {
    background-color: #2e1516;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.imagePlaceholder {
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.imagePlaceholder .image {
    padding: 1rem;
    object-fit: contain;
}

.imageContainer .imageGalleryInfoContainer {
    display: flex;
    justify-content: center;
    /* margin-bottom: 0.5rem; */
    width: 100vw;
    visibility: hidden;
    
    .imageGalleryInfo {
        height: 10rem;
        background-color: black;
        width: 35rem;
        padding: 1rem;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    
}

.animationTrigger {
    animation: animateElement 0.5s 0.25s 1 forwards ease-in;
    /* color: white */
}

@keyframes animateElement{
    from{  
        transform: translate(0, 50%);
        opacity: 0;
        visibility: hidden; 
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

