.imageContainer {
    background-color: #2e1516;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.imagePlaceholder {
    width: 100vw;
    height: 75vh;
    position: relative;

    &.mobile {
        height: 90vh
    }
}

.imagePlaceholder .image {
    padding: 1rem;
    object-fit: contain;
}

.imageGalleryInfoContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    visibility: hidden;

    .imageGalleryInfo {
        background-color: black;
        border-radius: 2rem;
        margin-bottom: 0.5rem;
        padding-left: 7rem;
        padding-right: 7rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: fit-content;
        width: fit-content;
        &.mobile {
            padding: 1rem;
            border-radius: 1rem;
        }

    }
}

.animationTrigger {
    animation: animateElement 0.5s 0.25s 1 forwards ease-in;
}

@keyframes animateElement {
    from {
        transform: translate(0, 50%);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

table.infoContainer{
    font-size: 2rem;

    &.mobile {
        font-size: 0.5rem;
    }
    
}