.darknessMyOldFriend {
    &.MuiFormControl-root {
        .MuiFormLabel-root {
            color: "red";

            &.Mui-focused {
                color: "red";
            }
        }

        .MuiSvgIcon-root {
            color: "red";
        }

        .MuiInputBase-root {
            color: "red";
        }
    }
}