

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding: 0 1rem;
}

.container .profile {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container .profile .right {
  margin-right: 10rem
}

.container .profile .left {
  margin-left: 10rem;
}